.btn {
  background: $main-color;
  border-radius: 20px;
  padding: 25px 45px;
}

.btnOff {
  background: black;
  border-radius: 20px;
  padding: 25px 73px;
  border: 1px solid rgba(255, 92, 0, 1);
  margin-left: 70px;
}
